@font-face { font-family: 'Zeta Sans'; src: url('../node_modules/@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-400-normal.woff2') format('woff2'); font-weight: 400; }
@font-face { font-family: 'Zeta Sans'; src: url('../node_modules/@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-700-normal.woff2') format('woff2'); font-weight: 700; }
@font-face { font-family: 'Zeta Mono'; src: url('../node_modules/@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff2') format('woff2'); font-weight: 400; }
* { box-sizing: border-box; }
body { margin: 0; }
